*{
  margin :0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;

}

.navbar{
  background-color: white;

}
.navbar-brand{
  font-size: 1.9rem ;
  color: #565387;
}
.navbar a{
  font-size: 1.3rem;
  text-transform: capitalize;
}

.menu_active{
  font-weight: bold;
  border-bottom: 1px solid brown;

}

.navbar a:hover{
  color: #3498db;
}

@media (max-width :991px) {
  .navbar-brand{
    font-size: 1.5rem;
  }

.menu_active{
  font-weight: bold ;
  border-bottom: none;
}


}